@import url(http://fonts.googleapis.com/css?family=Marck+Script);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Lato:100,300);

$headerblue: #66A3FF;
$whiteishfontcolor: #D1E3FF;
$hyperlinkblue: #80B2FF;
$headerfontcolor: #99A1AE;
$mydocscolor: #33435C;
$settingbackground: #FDF6E4;

$font-cursive-slogan: 'Marck Script', cursive;
$font-mydocs: 'Droid Sans', sans-serif;
$font-options: 'Lato', sans-serif;;
$font-profile: "Merriweather Sans", sans-serif;


$default-border-radius : 10px;
