@import url(http://fonts.googleapis.com/css?family=Marck+Script);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

$headerblue: #66A3FF;
$whiteishfontcolor: #D1E3FF;
$hyperlinkblue: #80B2FF;
$headerfontcolor: #727374;
$mydocscolor: #444546;

$font-cursive-slogan: 'Marck Script', cursive;
$font-mydocs: 'Droid Sans', sans-serif;
$font-profile: "Merriweather Sans", sans-serif;


$default-border-radius : 10px;
