doctype html
html(leng='en')
    head
        meta(charset='UTF-8')
        title= title
        script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
        script(type="text/javascript", src='/bootstrap/js/bootstrap.min.js')
        link(rel='stylesheet', href="/bootstrap/css/bootstrap.min.css" media="screen")
        link(rel='stylesheet', href='/css/styles.css')
        link(rel='stylesheet', href='/css/editor-style.css')
        link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    body
        block content
        include scripts.jade
