.editor-header
	ul.editor-tools
		li
			.header-button
				p SAVE
		li
			.header-button
				p SETTINGS
		// .divider
		// li(class="header-button", id="note-button"): img(src="/images/quarter-note-up.svg")
		// li(class="header-button", id="rest-button"): img(src="/images/Soupir_(silence).svg")
		li
			.header-button
				p#delete-button X
		li
			.header-button
				p#add-staff +
