extends layout

block content
    .backgrounddiv
        .pagecontentdiv
            .logodiv
                img(src='/images/Logo-stack-white.png', class='logoimage', id='logoimage')
            h2 create your own sheet music for free
            .social-wrap.a: a(href='/profile/mymusic')
                button( id="facebook") Sign in with Facebook
            p or
            p: a(href='/profile/mymusic') Sign in with your email
