extends layout

block content
	include header.jade
	include editor-header.jade

	.container
		include popups.jade
		
		.sheet_music
			h2(class="document-title") Moonlight Sonata
			h3(class="document-composer") composed by Ludwig van Beethoven
			h3(class="instrument") Piano

			.music-editor
				.notes
					.note#first-note
					.note
					.note
					.note
					.note
					.note
					.note
					.note
					.note
					.note
					.note
					.note
					.note
					.note
					.note
					.note
					// End of first staff
					.note-added.first-note-of-staff
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					// End of second staff
					.note-added.first-note-of-staff
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					// End of third staff
					.note-added.first-note-of-staff
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					// End of fourth staff
					.note-added.first-note-of-staff
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					// End of fifth staff
					.note-added.first-note-of-staff
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					// End of sixth staff
					.note-added.first-note-of-staff
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					// End of seventh staff
					.note-added.first-note-of-staff
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					.note-added
					// End of eighth staff
				.staves
					.staff
					.staff-added
					.staff-added
					.staff-added
					.staff-added
					.staff-added
					.staff-added
					.staff-added
