.darken
.saved-popup
	p Your document has been saved!

.darken-help
.help-box
	h1 Helpful Hints!
	p#close-x X
	p When a note is selected, use "Space" to toggle it between a note and a rest.
	p Use the &uarr; and &darr; to change a notes position on the staff.
	p Use the &larr; and &rarr; to quickly move to the next or previous note, respectively.
	p Pressing the <span id='red-x'>X</span> will remove the currently selected note and shift all notes backward. It inserts a rest at the end of the piece.
	p Clicking the <span id='blue-plus'>+</span> will add a new staff full of rests at the end of the piece.
	p Clicking the Xenakis logo will take you back to your documents.
