script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
script(type="text/javascript", src='/bootstrap/js/bootstrap.min.js')
script(src="/js/vextab/releases/vextab-div.js")
script(src="/js/editor.js")
script(src="/css/styles.css")
script(src='/js/createnew.js')
script(src='/js/mymusic.js')
script(src="/js/script.js")
script(src="http://localhost:35729/livereload.js")
